  
{% load static %}
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="{% url 'resume:resume-list' %}">Kuhmasii</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
<!--       <a href="{% url 'resume:resume-list' %}" 
      class="logo"><img src="{% static 'img/kuhmasiilogo.png' %}" alt=""class="img-fluid"></a> -->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'resume:resume-list' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#work">Work</a></li>
          <!-- <li><a class="nav-link scrollto " href="#blog">Blog</a></li> -->
          <li class="dropdown"><a href="#"><span>Account</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              {% if user.is_authenticated %}
              <li><a href="{% url 'resume:resume-logout' %}">Sign Out</a></li>
              {% else %}
              <li><a href="{% url 'resume:resume-login' %}">Sign In</a></li>
              {% endif %}
              <li class="dropdown"><a href="#"><span>Project</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="{% url 'resume:resume-dashboard' %}">Upload</a></li>
                  <li><a href="{% url 'resume:resume-dashboard' %}">Update</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a class=" nav-link scrollto" href="#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->

    </div>
  </header>